.pagination {
  border-radius: 8px;
  border: 1px solid var(--border);
  margin-bottom: 2vh;
  overflow-y: auto;
  height: 54vh;
}

p {
  padding: 0 1vh;
}

th,
td {
  width: auto;
  font-weight: inherit;
  /* Ancho fijo para todas las celdas */
  text-align: center;
  /* Alineación del texto al centro */
}

.userRow {
  cursor: pointer;
}

.infoUsers {
  display: flex;
  flex-wrap: wrap;
  width: min(90%, 40rem);
  justify-content: center;
  margin: 0.5vh 0.5vw;
}

.buttons {
  display: flex;
  gap: 0.5vw;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 0;
  background-color: var(--background-alt);
  border: none;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2),
    0px 1px 5px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px 0px rgba(0, 0, 0, 0.12);
}
.tr{
  height: 5vh;
  cursor: pointer;

}
.tbody{
  font-weight: 360;
}
@media screen and (max-width: 750px) {
  .prescindible {
    display: none
  }
}