.card {
    font-weight: 300;
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 1vh 1vw;
    flex-basis: calc(33.33% - 1rem); /* Add this line to set the flex-basis to a fixed value */

}
.title {
    font-size: 1.3rem;
    font-weight: 300;
}
.data {
    text-align: center;
}