{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}BLM Profiler{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class=container>
        <h2>Perfilar colección</h2>
        <form id="profiler-form" enctype="multipart/form-data">
        <!-- action="/profile" method="post" -->
        <p>
            <input type="file" name="file" id="colection" accept=".csv, .txt" required="True">
        </p>
        <p>
            Algoritmo
            <select name="algoritmo">
            <option value="modaresi">Modaresi</option>
            <option value="grivas">Grivas</option><
            <!-- <option value="los_calis">LosCalis</option> -->
            </select>
        </p>
        <div id="spinner" class="spinner hidden" hidden="True"></div>
        <p>
            <input type="submit" cls value="Perfilar">
        </p>
        </form>    
    </div>
    <div id="chart"></div>

{% endblock %}