.buttons{
    display: flex;
    justify-content:center;
    align-items: center;
}
.dashboard{
    padding: 3vh 3vh;
    display: flex;
    justify-content: space-around;    
}
/* .export{
    background-color: rgb(4, 6, 42);
    
} */