.pagination {
  border-radius: 8px;
  border: 1px solid var(--border);
  margin-bottom:2vh;
  overflow-y: auto;
}
p {
  padding: 0 1vh;
}
th,
td {
  width: auto;
  font-weight: inherit;
  /* Ancho fijo para todas las celdas */
  text-align: center;
  /* Alineación del texto al centro */
}
.user-row{
  cursor: pointer;
}

.posts {
  margin: 0 auto;
  margin-bottom: 2vh;
  align-items: center;
  border: 1px solid var(--border);
  background-color: var(--background-alt);
  border-radius: 1vh;
  padding: 1vh;
  max-height: 65vh;
  width: 35em;
  /* Altura máxima del contenedor */
  overflow-y: auto;
}
.list-item {
  list-style: none;
  padding: 2vh;
  border-radius: 0.2vh;
}

.list-item:hover {
  background-color: rgba(3, 24, 24, 0.825);
  border-radius: 0.2vh;
  padding: 2vh;
}

.list-heading {
  list-style: none;
  padding: 2vh;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  position: sticky;
  z-index: 100;
}

.info-user {
  /* margin-top: -3rem; */
  display: flex;
  flex-wrap: wrap;
  width: min(90%, 45rem);
  justify-content: center;
}

.info-users {
  display: flex;
  flex-wrap: wrap;
  width: min(90%, 45rem);
  justify-content: center;
}

.fields {
  display: flex;
  margin: 0 auto;
  padding: 1vh;
  border-radius: 1vh;
  height: fit-content;
}

.header {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 750px) {
  table tr td:nth-of-type(3n), table th.prescindible {
    display:none
  }
}