.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
}
.first-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.dashboard {
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    gap: 1vh min(1vw, 8px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1vh 0;
    justify-content: center;
}
.filter-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.chart {
    gap: 1vh min(1vw, 8px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1vh 0;
    justify-content: center;
    width: min(90%, 20rem);
    font-weight: 300;
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 1vh 1vw;
    margin: 0.5vh 0.5vw;
}
.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1vh 0;
    justify-content: center;
}

.filters-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1vh;
    margin-bottom: 1vh;
    flex-wrap: wrap;
}

/* .chart{
    width: 13rem;
} */
/* .export{
    background-color: rgb(4, 6, 42);
    
} */
