.content{
    width: 100%;
}
.posts {
    margin-top: 0;
    margin-bottom: 2vh;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 1vh;
    padding: 0;
    max-height: 70vh;
    min-height: 65vh;
    width: min(40em, 90%);
    /* Altura máxima del contenedor */
    overflow-y: auto;
    margin: 1vh 0;
    font-weight: 360;
}

.listItem {
    list-style: none;
    padding: 2vh;
    border-radius: 0.2vh;
}

.listItem:hover {
    background-color: rgba(3, 24, 24, 0.825);
    border-radius: 0.2vh;
    padding: 2vh;
}

.listHeading {
    position: sticky;
    top: 0;
    background-color: var(--background-body);
    list-style: none;
    padding: 2vh;
    font-size: larger;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.273);
}

.infoUser {
    padding: 0 1vh;
    gap: 0 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh 2vw;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1vh 0;
}

.header {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 4rem;
}
@media screen and (max-width: 850px) {
    .cards {
        flex-direction: row;
    }
    .header{    
        gap: 4vw;
    }
}